.mobileDev-Info > p {
  font-size: 16px;
  align-self: center;
  padding: 0 10px;
  color: white;
}

.mobileDev-Info > h5 {
  text-align: justify;
  padding: 0 12px;
}

.mobileDev-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 340px;
  border: 5px solid #e3e4e5;
  border-radius: 1rem;
  padding: 0rem;
  background-color: #b5b2b2;
  color: black;
}

.mobileDev-Info > img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  margin-top: 0.5rem;
}

.button-Holder {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid red;
  gap: 0.2rem;
  padding: 10px;
}

.button-MobileDev {
  width: 120px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-size: medium;
}

.button-MobileDev:hover {
  color: var(--secondaryColor);
}
