.mobileDev-Info > p {
  font-size: 12px;
}

.mobileDev-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 400px;
  border: 6px solid blueviolet;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #e6e6fa;
  color: black;
}

.mobileDev-Info > img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  margin-top: 0.3rem;
}

.button-Holder {
  display: flex;
  /* gap: 13rem; */
}
