.registerNote-container {
    width: 40vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e3e4e5;
    border: 1px solid black;
    padding: 1rem;
    gap: 0.5rem;
}

.registerNote-welcome-text {
    font-size: 30px;
}

.registerNote-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.registerNote-please-text {
    font-size: 20px;
}

.registerNote-login-btn {
    width: 55%;
    background-color: var(--mainColor);
    color: var(--textColor);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .registerNote-container {
        width: 80vw;
    }

    .registerNote-welcome-text {
        font-size: 25px;
    }
}