.anchorCustom:hover {
  color: white;
}

.parrafoRegisterHere {
  color: #1e6f5b;
}

.parrafoRegisterHere:hover {
  color: black;
}

.btn_signin:hover {
  color: var(--textColor);
  font-weight: 700;
}
