.containerNavProfile {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 20px;
  margin-top: 5vh;
  gap: 8px;
}

.fluidContainerProfile {
  min-height: 55vh;
  margin-bottom: 5vh;
}

.btn-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  background-color: var(--mainColor);
  color: var(--textColor);
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
  font-size: medium;
}

.btn-profile:hover {
  color: var(--secondaryColor);
}

@media only screen and (max-width: 500px) {
  .btn-profile {
    width: 130px;
    background-color: var(--mainColor);
    color: var(--textColor);
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
  }

  .containerNavProfile {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    border-radius: 20px;
    margin-top: 5vh;
    gap: 8px;
  }
}
