header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  position: fixed;
  top: 0;
  z-index: 1000;
}

body {
  padding-top: 10vh;
}

.logoPlant {
  width: 300px;
}

.ProfileNav {
  font-size: 150;
}

.buttonNavDown {
  background-color: transparent;
  border: transparent;
}

.titleWeb {
  margin-left: 5px;
}

.titleWeb:hover {
  color: white;
}

.buttonNav.active {
  border: 2px solid var(--secondaryColor);
}

.buttonNav {
  background-color: transparent;
  border: transparent;
  letter-spacing: 5px;
  font-size: 16px;
}

.buttonNav:hover {
  cursor: pointer;
}

.navHeader button {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.3s ease-in-out;
}

.profileCircle {
  height: 40px;
  width: 40px;
  filter: invert();
}

.navHeader button:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .iconProfile {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 100%;
  left: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-content a,
.dropdown-content button {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 870px) {
  .navButton {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 600px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .navButton {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  header .navHeader {
    position: fixed;
    top: -120vh;
    left: 0;
    height: 120%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  .profileCircle {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: solid black 6px;
  }

  .iconLogout {
    transform: scale(0.8);
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: solid 7px black;
    border-radius: 50%;
  }

  .iconDashBoard {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }

  header .responsive_nav {
    transform: translateY(120vh);
  }

  .anchors {
    margin-left: 0%;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav button {
    font-size: 1.5rem;
  }
}
