.btn-favorite.selected {
  background-color: #f9f9f9;
  color: green;
}
.btn-favorite-container {
  display: flex;
  gap: 21px;
  margin-bottom: 30px;
  width: 532px;
  margin-top: 30px;
}
.btn-favoriteMarca {
  width: 250px;
  height: 70px;
  gap: 50px;
  background-color: var(--mainColor);
  color: var(--textColor);
  border-radius: 5px;
  margin-right: 7px;
  cursor: pointer;
  font-size: 21px;
}
.btn-favoriteApp {
  width: 250px;
  height: 70px;
  gap: 50px;
  background-color: var(--mainColor);
  color: var(--textColor);
  border-radius: 5px;
  cursor: pointer;
  font-size: 21px;
}

.btn-favoriteApp:hover {
  color: gray;
}

.btn-favoriteMarca:hover {
  color: gray;
}

.favorite-container-card {
  min-height: 50vh;
}

@media only screen and (max-width: 870px) {
  .btn-favorite-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
    width: 375px;
  }
  .btn-favoriteApp {
    width: 150px;
    height: 35px;
    gap: 0px;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-favoriteMarca {
    width: 150px;
    height: 35px;
    gap: 0;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 5px;

    cursor: pointer;
  }
}
