@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

#root {
  --mainColor: #1b2430;
  --mainColorLight: #5767aa;
  --secondaryColor: #b5b2b2;
  --textColor: #eee;
  --page-background-color: white;
  --profile-background-color: #b5b2b2;
  --background-color-button-hover: White;
  --color-button-hover: black;
  --color-font-weight-hover: 900;
  --backgroung-letter: #b5b2b2;
  --background-letter-secund-color: #e3e4e5;
  --text-color--hover: black;
  --background-color-button-login: #49c1a2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  background: var(--background-color-button-login);
  color: #fff;
  cursor: pointer;
  border: #2f7a67 1px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.outletContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
