.app-Info > p {
  font-size: 16px;
  align-self: center;
  padding: 0 10px;
  color: var(--secondaryColor);
}

.app-Info > h5 {
  text-align: justify;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  width: 90%;
  height: 30%;
}

.app-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  height: 500px;
  border: 5px solid #e3e4e5;
  border-radius: 1rem;
  padding: 1.8rem 0.9rem;
  background-color: #b5b2b2;
  color: black;
  gap: 1rem;
}

.app-Info-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e4e5;
  border-radius: 5px;
  padding: 0.6rem;
}

.app-Info-tabla-p {
  display: flex;
  gap: 21px;
}

.app-Info-tabla-Titulo-Category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.app-Info-tabla-Titulo-Languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.app-Info-tabla-Titulo-Size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.app-Info-tabla-Category {
  margin-left: px;
  color: black;
  font-weight: 300;
}

.app-Info-tabla-Languages {
  margin-left: px;
  color: black;
  font-weight: 300;
}

.app-Info-tabla-appSize {
  margin-left: px;
  color: black;
  font-weight: 300;
}

.app-Info > img {
  width: 160px;
  height: 100px;
  object-fit: scale-down;
  margin-top: 0.5rem;
}

.button-App {
  width: 160px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-size: medium;
  padding: 0.5rem;
  text-align: center;
}

.button-App:hover {
  background-color: var(--background-color-button-hover);
  color: var(--color-button-hover);
  font-weight: var(--color-font-weight-hover);
}

/* .appInfo {
    border: 1px solid blue;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
} */
